@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: pink;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

h1{
    color:blue;
    text-align: center;
}

p{
    color:purple;
    background-color: plum;
}



